.main-content-text {
    margin-top: 50px;
    align-items: center;
    /*não ta funcionando parece*/
    justify-content: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }