<main-nav-bar></main-nav-bar>

<div class="main-content-text container">

    <h2 style="color: black; margin-left: 20px; margin-top: 10px;"> Deserto do Saara </h2>

    <p style="color: black;">
        O Deserto do Saara (português brasileiro) ou Deserto do Sara, ou Deserto do Sáara (português europeu)
        (em árabe: الصحراء الكبرى; romaniz.: aṣ-ṣaḥrā al-koubra) é conhecido por ser o maior deserto quente do
        mundo. Oficialmente, é o terceiro maior deserto da Terra, logo após a Antártida e o Ártico, pois estas
        duas também são consideradas desertos. Localizado no Norte da África, tem uma área total de 9 065
        000 km², sendo sua área equiparável à da Europa (10 400 000 km²) e à área dos Estados Unidos, e maior
        que a área de muitos países continentais tais como Brasil, Austrália e Índia. O nome Saara é uma
        transliteração da palavra árabe صحراء, que por sua vez é a tradução da palavra tuaregue tenere (deserto).
        O deserto do Saara compreende parte dos seguintes países e territórios: Argélia, Chade, Egito, Líbia,
        Mali, Mauritânia, Marrocos, Níger, Saara Ocidental, Sudão e Tunísia. Atualmente vivem cerca de 2,5
        milhões de pessoas na região do Saara.
    </p>
</div>