<div class="container">
    <div class="carousel">
        <div class="nav nav-left">
            <div class="ion-chevron-left carousel-arrow-icon-left"> < </div>
        </div>
        <div class="carousel-content">
                <div class="slide slide-1">
                    <div class="iconeFavorito"></div>
                </div>
                <div class="slide slide-2">
                    <div class="iconeFavorito"></div>
                </div>
                <div class="slide slide-3">
                    <div class="iconeFavorito"></div>
                </div>
                <div class="slide slide-4">
                    <div class="iconeFavorito"></div>
                </div>
                <div class="slide slide-5">
                    <div class="iconeFavorito"></div>
                </div>
        </div>
        <div class="nav nav-right">
            <div class="ion-chevron-right carousel-arrow-icon-right">></div>
        </div>
    </div>
</div>