<nav class="navbar navbar-light bg-light shadow fixed-top">
  <div class="container-fluid">
    <a routerLink="" class="position-relative start-50">
      <img src="../../../assets/nav-bar/world-icon.ico">
    </a>
    <button class="nav-bar-actual navbar-toggler position-end" type="button" data-bs-toggle="modal"
      data-bs-target="#exampleModal">
      <span class="navbar-toggler-icon"></span>
    </button>
  </div>
</nav>
<div class="nav-bar-actual">
  <div class="modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-fullscreen">
      <div class="modal-content">
        <div class="modal-header">
          <h2 class="modal-title" id="exampleModalLabel"> Paisagens Views </h2>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">

          <ul class="list-group list-group-flush">
            <li class="list-group-item" (click)="selectLocation('desert')">Deserto
              <ul class="list-group list-group-flush">
                <li class="list-group-item" (click)="selectLocation('desert/sahara')">Deserto do Saara</li>
                <li class="list-group-item" (click)="selectLocation('desert/arabian')">Deserto da Arábia
                </li>
                <li class="list-group-item" (click)="selectLocation('desert/patagonia')">Deserto da
                  Patagônia</li>
                <li class="list-group-item" (click)="selectLocation('desert/atacama')">Deserto do Atacama
                </li>
              </ul>
            </li>
            <li class="list-group-item" (click)="selectLocation('taiga')">Taiga</li>
            <li class="list-group-item" (click)="selectLocation('jungle')">Selva</li>
            <li class="list-group-item" (click)="selectLocation('swamp')">Pantanal</li>
            <li class="list-group-item" (click)="selectLocation('cerrado')">Cerrado</li>
            <li class="list-group-item" (click)="selectLocation('tundra')">Tundra</li>
            <li class="list-group-item" (click)="selectLocation('savannah')">Savana</li>
            <li class="list-group-item" (click)="selectLocation('prairie')">Pradaria</li>
          </ul>

        </div>
        <!-- <div class="modal-footer">
          </div> -->
      </div>
    </div>
  </div>
</div>

<!-- <aside class="side-menu-xl col">
  <ul class="nav flex-column">
    <li class="nav-item">
      <a class="nav-link active" href="#">Active</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Link</a>
    </li>
    <li class="nav-item">
      <a class="nav-link disabled" href="#">Disabled</a>
    </li>
  </ul>
</aside> -->

<div class="side-menu-xl">

  <ul class="sidebar-2">
    <li class="list-group-item" (click)="selectLocation('desert')">Deserto
      <ul class="list-group list-group-flush">
        <li class="list-group-item" (click)="selectLocation('desert/sahara')">Deserto do Saara</li>
        <li class="list-group-item" (click)="selectLocation('desert/arabian')">Deserto da Arábia
        </li>
        <li class="list-group-item" (click)="selectLocation('desert/patagonia')">Deserto da
          Patagônia</li>
        <li class="list-group-item" (click)="selectLocation('desert/atacama')">Deserto do Atacama
        </li>
      </ul>
    </li>
    <li class="list-group-item" (click)="selectLocation('taiga')">Taiga</li>
    <li class="list-group-item" (click)="selectLocation('jungle')">Selva</li>
    <li class="list-group-item" (click)="selectLocation('swamp')">Pantanal</li>
    <li class="list-group-item" (click)="selectLocation('cerrado')">Cerrado</li>
    <li class="list-group-item" (click)="selectLocation('tundra')">Tundra</li>
    <li class="list-group-item" (click)="selectLocation('savannah')">Savana</li>
    <li class="list-group-item" (click)="selectLocation('prairie')">Pradaria</li>
  </ul>
</div>