/* .container {
    max-width: 960px;
  }
*/

/*
* Custom translucent site header
*/

.site-header {
  background-color: rgba(7, 97, 43, 0.85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}

.site-header a {
  color: #ffffff;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

.th {
  width: 50px;
}

.td {
  width: 50px;
}

.main-content-text {
  margin-top: 50px;
  align-items: center;
  justify-content: center;
  padding: 12px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.example-container {
  width: cover;
  height: cover;
  margin: 0px;
  background-color: white;
}

.image-main-content {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  width: 100%;
}

img {
  min-width: 200px;
  max-width: 200px;
  max-height: 200px;

  height: 200px;
  width: 200px;
}

@media (max-width: 575px) {
  .image-main-content {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
  }
}

@media (min-width: 576px) and (max-width: 1023px) {
  img {
    min-width: 200px;
    max-width: 200px;
    max-height: 200px;
  
    height: 200px;
    width: 200px;
  }
}

@media (min-width: 1024px) {
  .main-content-text {
    padding-left: 200px;
  }

  img {
    min-width: 300px;
    max-width: 300px;
    max-height: 300px;

    height: 300px;
    width: 300px;
  }
}
