<div class="container">
    <div class="row">
        <main-nav-bar class="row"></main-nav-bar>

        <div class="main-content-text col">

            <h2 style="color: black; margin-left: 20px; margin-top: 10px;"> Bioma Deserto </h2>

            <p style="color: black;">
                O bioma denominado deserto é encontrado em regiões de baixa umidade, onde existe uma grande variação na
                temperatura ao longo do dia, com pouca ou quase nenhuma precipitação ao longo do ano e o clima é
                predominantemente seco.
            </p>
            <p style="color: black;">
                A vegetação geralmente é constituída por gramíneas e pequenos arbustos, sendo rala e espaçada, ocupando
                principalmente fendas do solo ou debaixo das rochas em que a pouca água disponível pode se acumular.
                A seleção natural fez com que as plantas mais resistentes sobrevivessem às limitações do deserto e com
                o tempo as plantas desenvolveram estratégias para se adaptar à escassez de água. Os cactos, por exemplo,
                apresentam sistemas de raízes superficiais, cobrindo uma grande área, para absorver a água das chuvas
                passageiras. Seu caule é capaz de armazenar água (parênquima aquífero) e fazer fotossíntese (CAM), as
                folhas com a evolução da espécie foram substituídas por espinhos para impedir uma transpiração excessiva
                pelos estômatos. Essas transformações nas plantas desérticas são conhecidas por xeromorfismo
                (forma adaptada para locais secos).
            </p>
            <p style="color: black;">
                A vegetação esparsa e o tipo de solo arenoso deste bioma terrestre que é o deserto contribuem para uma
                rápida perda radiativa de energia fazendo com que estes ambientes possam ser tornar extremamente frios
                durante a noite e extremamente quentes durante o dia.
            </p>
            <p style="color: black;">
                A fauna dos desertos é limitada pelas condições extremas, sendo composta predominantemente por animais
                roedores (ratos-canguru e marmotas), répteis (cobras e lagartos), escorpiões e insetos. A maioria destes
                animais desenvolvem suas atividades no período noturno, quando as temperaturas são mais baixas, e
                durante o dia permanecem refugiados das temperaturas elevadas. Os camelos e os dromedários são mamíferos
                do deserto, podem passar até um mês sem beber água e vários dias sem se alimentarem, pois possuem a
                corcova que serve como reserva de gordura.
            </p>
            <p style="color: black;">
                Os desertos podem ser subdivididos em quentes (principalmente tropicais e subtropicais) ou frios
                (principalmente de latitudes médias). Os biomas de deserto quentes são causados pela presença de ar seco
                e pela baixa precipitação a partir das células de alta pressão subtropicais. São áreas muito secas onde
                a vegetação varia de quase nenhuma até numerosos arbustos xerófilos, suculentos e na forma de
                espinheiros.
                Já os biomas de deserto frios tendem a ocorrer em latitudes médias e nestas regiões o deslocamento
                sazonal
                das células de alta pressão subtropicais tem influência pelo menos por seis meses do ano. As localidades
                no interior são secas devido à distância das fontes de umidade ou porque se encontram protegidas das
                chuvas
                por estarem perto de montanhas. A combinação destas duas possibilidades produz os desertos frios. No
                inverno
                ocorrem precipitações leves, podendo nevar. Os verões são quentes enquanto as noites tendem a ser mais
                frescas.
            </p>

            <div>
                <img src="../../../assets/home/header-plant.jpg" class="image-main-content" style="width: 100%;">
                <img src="../../../assets/home/biomes-brazil.png" class="image-main-content" style="width: 100%;">
                <img src="{{assetsFolder}}person-in-desert.jpeg" class="image-main-content" style="width: 100%;">
            </div>

            <div class="container">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Alloooooooooooooo1</th>
                                <th scope="col">Alloooooooooooooo2</th>
                                <th scope="col">Alloooooooooooooo3</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td>Testeeeeeeeeeeee1</td>
                                <td>Testeeeeeeeeeeee1</td>
                                <td>Testeeeeeeeeeeee1</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td>Testeeeeeeeeeeee2</td>
                                <td>Testeeeeeeeeeeee2</td>
                                <td>Testeeeeeeeeeeee2</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>Testeeeeeeeeeeee3</td>
                                <td>Testeeeeeeeeeeee3</td>
                                <td>Testeeeeeeeeeeee3</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>

            <h2 style="color: black;"> Mostrar as localidades que tem disponíveis nesse bioma,
                será as mesmas opções do side left menu
            </h2>

            <p style="color: black;">
                O bioma denominado deserto é encontrado em regiões de baixa umidade, onde existe uma grande variação na
                temperatura ao longo do dia, com pouca ou quase nenhuma precipitação ao longo do ano e o clima é
                predominantemente seco.
            </p>
            <p style="color: black;">
                A vegetação geralmente é constituída por gramíneas e pequenos arbustos, sendo rala e espaçada, ocupando
                principalmente fendas do solo ou debaixo das rochas em que a pouca água disponível pode se acumular.
                A seleção natural fez com que as plantas mais resistentes sobrevivessem às limitações do deserto e com
                o tempo as plantas desenvolveram estratégias para se adaptar à escassez de água. Os cactos, por exemplo,
                apresentam sistemas de raízes superficiais, cobrindo uma grande área, para absorver a água das chuvas
                passageiras. Seu caule é capaz de armazenar água (parênquima aquífero) e fazer fotossíntese (CAM), as
                folhas com a evolução da espécie foram substituídas por espinhos para impedir uma transpiração excessiva
                pelos estômatos. Essas transformações nas plantas desérticas são conhecidas por xeromorfismo
                (forma adaptada para locais secos).
            </p>
            <p style="color: black;">
                A vegetação esparsa e o tipo de solo arenoso deste bioma terrestre que é o deserto contribuem para uma
                rápida perda radiativa de energia fazendo com que estes ambientes possam ser tornar extremamente frios
                durante a noite e extremamente quentes durante o dia.
            </p>
            <p style="color: black;">
                A fauna dos desertos é limitada pelas condições extremas, sendo composta predominantemente por animais
                roedores (ratos-canguru e marmotas), répteis (cobras e lagartos), escorpiões e insetos. A maioria destes
                animais desenvolvem suas atividades no período noturno, quando as temperaturas são mais baixas, e
                durante o dia permanecem refugiados das temperaturas elevadas. Os camelos e os dromedários são mamíferos
                do deserto, podem passar até um mês sem beber água e vários dias sem se alimentarem, pois possuem a
                corcova que serve como reserva de gordura.
            </p>
            <p style="color: black;">
                Os desertos podem ser subdivididos em quentes (principalmente tropicais e subtropicais) ou frios
                (principalmente de latitudes médias). Os biomas de deserto quentes são causados pela presença de ar seco
                e pela baixa precipitação a partir das células de alta pressão subtropicais. São áreas muito secas onde
                a vegetação varia de quase nenhuma até numerosos arbustos xerófilos, suculentos e na forma de
                espinheiros.
                Já os biomas de deserto frios tendem a ocorrer em latitudes médias e nestas regiões o deslocamento
                sazonal
                das células de alta pressão subtropicais tem influência pelo menos por seis meses do ano. As localidades
                no interior são secas devido à distância das fontes de umidade ou porque se encontram protegidas das
                chuvas
                por estarem perto de montanhas. A combinação destas duas possibilidades produz os desertos frios. No
                inverno
                ocorrem precipitações leves, podendo nevar. Os verões são quentes enquanto as noites tendem a ser mais
                frescas.
            </p>

            <p style="color: black;">
                O bioma denominado deserto é encontrado em regiões de baixa umidade, onde existe uma grande variação na
                temperatura ao longo do dia, com pouca ou quase nenhuma precipitação ao longo do ano e o clima é
                predominantemente seco.
            </p>
            <p style="color: black;">
                A vegetação geralmente é constituída por gramíneas e pequenos arbustos, sendo rala e espaçada, ocupando
                principalmente fendas do solo ou debaixo das rochas em que a pouca água disponível pode se acumular.
                A seleção natural fez com que as plantas mais resistentes sobrevivessem às limitações do deserto e com
                o tempo as plantas desenvolveram estratégias para se adaptar à escassez de água. Os cactos, por exemplo,
                apresentam sistemas de raízes superficiais, cobrindo uma grande área, para absorver a água das chuvas
                passageiras. Seu caule é capaz de armazenar água (parênquima aquífero) e fazer fotossíntese (CAM), as
                folhas com a evolução da espécie foram substituídas por espinhos para impedir uma transpiração excessiva
                pelos estômatos. Essas transformações nas plantas desérticas são conhecidas por xeromorfismo
                (forma adaptada para locais secos).
            </p>
            <p style="color: black;">
                A vegetação esparsa e o tipo de solo arenoso deste bioma terrestre que é o deserto contribuem para uma
                rápida perda radiativa de energia fazendo com que estes ambientes possam ser tornar extremamente frios
                durante a noite e extremamente quentes durante o dia.
            </p>
            <p style="color: black;">
                A fauna dos desertos é limitada pelas condições extremas, sendo composta predominantemente por animais
                roedores (ratos-canguru e marmotas), répteis (cobras e lagartos), escorpiões e insetos. A maioria destes
                animais desenvolvem suas atividades no período noturno, quando as temperaturas são mais baixas, e
                durante o dia permanecem refugiados das temperaturas elevadas. Os camelos e os dromedários são mamíferos
                do deserto, podem passar até um mês sem beber água e vários dias sem se alimentarem, pois possuem a
                corcova que serve como reserva de gordura.
            </p>
            <p style="color: black;">
                Os desertos podem ser subdivididos em quentes (principalmente tropicais e subtropicais) ou frios
                (principalmente de latitudes médias). Os biomas de deserto quentes são causados pela presença de ar seco
                e pela baixa precipitação a partir das células de alta pressão subtropicais. São áreas muito secas onde
                a vegetação varia de quase nenhuma até numerosos arbustos xerófilos, suculentos e na forma de
                espinheiros.
                Já os biomas de deserto frios tendem a ocorrer em latitudes médias e nestas regiões o deslocamento
                sazonal
                das células de alta pressão subtropicais tem influência pelo menos por seis meses do ano. As localidades
                no interior são secas devido à distância das fontes de umidade ou porque se encontram protegidas das
                chuvas
                por estarem perto de montanhas. A combinação destas duas possibilidades produz os desertos frios. No
                inverno
                ocorrem precipitações leves, podendo nevar. Os verões são quentes enquanto as noites tendem a ser mais
                frescas.
            </p>
        </div>
    </div>
</div>