.th {
    width: 50px;
}

.td {
    width: 50px;
}

/* .main-content-text {
    margin-top: 50px;
    align-items: center;
    justify-content: center;
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
} */
