@media (min-width: 1024px) {
    .table-responsive {
      padding-left: 200px;
    }
  
    /* img {
      min-width: 300px;
      max-width: 300px;
      max-height: 300px;
  
      height: 300px;
      width: 300px;
    } */
  }