.site-header a {
  color: #ffffff;
  transition: color .15s ease-in-out;
}

.site-header a:hover {
  color: rgb(0, 162, 5);
}

.site-header h1 {
  background-color: rgba(169, 169, 169, 0.508);
}

.site-header p {
  background-color: rgba(169, 169, 169, 0.508);
}

.image-header-home {

  background-image: url('../../assets/home/header-plant.jpg');
  background-repeat: no-repeat;
  padding: 3em;
  text-align: center;
  background-size: cover;

  width: 100%;
  height: 400px;
  justify-content: center;
  align-items: center;
}

@media (min-width: 1400px) {
  #content-conteiner {
    margin-right: 0;
    margin-left: 11%;
  }
}